body{
    margin-top: 0;
    align-content: center;
}

h1{
    font-size: 30pt;
    padding-top: 10px;
    color:darkcyan;
    font-weight: 400;
}

.central{
    width: 100%;
}
.container{
    height: 100%;
    width: 60%;
    max-width:100%!important;
    align-content: center;
}

.textoevernote{
    padding-right: 90px;
    padding-top: 30px;
}

.hueco{
    height: 20%;
}

.botones img{
    float: left;
    display: inline-block;
    width: 180px;
    margin-right: 15px;
    
}

.getevernote{
    color: forestgreen;
    float: right;
    font-size: 13pt;
    
}

.card{
    border: 0;
    padding: 0 20px;
    height: 420px;
}

.card-body{
        text-align: left;
}

.main {
  float:left;
  width:60%;
  padding:0 20px;
}
.about {
  background-color:#e5e5e5;
  float:left;
    width: 100%;
}

.about h2{
    width: 100%;
}

.about div{
    text-align: center;
    padding: 10pt 20pt;
}

img{
    width: 100%;
    }

.pie h1{
    color: black;
    font-size: 27px;
}

.pie p{
    font-size: 13px;
}

.pie{
    text-align: left;
    padding-left: 35px;
}

.video{
    margin-top: 60px;
    text-align: center;
}

.video img{
    width: 170px;
}

@media only screen and (max-width:768px) {
      /* For iphone5 horizontal: */
    .menu {
        padding-right: 7.5px!important;
    }
}