@font-face {
  font-family: "Anton";
  src: url("https://fonts.google.com/");
}

body{
    margin-top: 0;
    background-color: lightgrey;
}

header {
    background-image: url(img/header.jpg);
    background-position: center;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-flow: row-reverse;
}


p{
    margin-top: 3pt;
    margin-bottom: 6pt;
    text-align: center;
}

#contenedor{
    width: 100%;
    height: 100%;
    padding-top: 15pt;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    }

.box {
    width: 30%;
    height: 270px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    background-color: white;
}

#negrita {
    font-weight: 200;
}

#alegreya {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 15pt;
}

#fredericka{
    font-family: 'Fredericka the Great', cursive;
    font-size: 15pt;
}

#josefin{
    font-family: 'Josefin Slab', serif;
    font-size: 15pt;
}

#major{
    font-family: 'Major Mono Display', monospace;
    font-size: 13pt;
}

#monserrat{
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
}

#roboto{
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
}

#sacramento{
    font-family: 'Sacramento', cursive;
    font-size: 15pt;
}

#special{
    font-family: 'Special Elite', cursive;
    font-size: 15pt;
}

#sixcaps{
    font-family: 'Six Caps', sans-serif;
    font-size: 18pt;
}

footer{
    text-align: center;
    padding-top: 10pt;
    padding-bottom: 0;
    margin-bottom: 0;
}
